.data-list-container{
    position: relative;
}
table{
    width: 100%;
    border-collapse: collapse;
}

table thead tr{
    background-color: #111218;
    height: 35px;
    font-size: 13px;
}
table tbody tr{
    height: 35px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);;
}
table tbody tr td{
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}
table tbody .setting{
    cursor: pointer;
}
table tbody .setting:hover{
    color: var(--purple-color);
}