.n-playlist-item{
    width: 200px;
    height: 100%;
    display: grid;
    grid-template-rows:auto 1fr;
    gap: 10px;
    color: white;
    cursor: pointer;
}
.n-playlist-item .playlist-cover{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.n-playlist-item .item-info .playlist-title{
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.n-playlist-item .item-info .contributors{
    font-size: 0.8rem;
    color: var(--Secondary-neutral-accent);
    line-height: 1.4;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.n-playlist-item .item-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
}