.header-layout {
    height: 74px;
}

.header-layout .header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.header-layout img {
    cursor: pointer;
    height: 100%;
}

.header-layout .find-music {
    width: 28%;
    background-color: rgba(17, 18, 24, 1);
    padding: 8px 14px;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
    border-radius: 20px;
}

.header-layout .find-music svg {
    font-size: 18px;
}

.header-layout .find-music .left-find-section {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
}

.header-layout .find-music .left-find-section svg {
    color: #7F8080;
}

.header-layout .find-music input {
    flex: 1;
    border: none;
    margin-left: 5px;
    background-color: transparent;
    color: white;
}

.header-layout .find-music input:focus-visible {
    border: none;
    outline: none;
}

.header-layout .find-music .right-find-random {
    display: flex;
    align-items: center;
    color: var(--pink-color);
    margin-left: 10px;
    border-left: 1px solid white;
    height: 24px;
}

.header-layout .find-music .right-find-random .material-symbols-outlined {
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px;
}

.header-layout .user-logo-container .user-logo-layout {
    display: flex;
    align-items: center;
    position: relative;
}

.header-layout .user-logo-container .user-logo-layout svg {
    font-size: 28px;
    color: var(--pink-color);
    margin-right: 15px;
    cursor: pointer;
}

.header-layout .user-logo-container .user-logo-layout .search-expand {
    display: none;
}

.header-layout .user-logo-container .user-logo-layout span {
    line-height: 0;
}

.header-layout .user-logo-container .user-logo svg {
    font-size: 40px;
    background-color: #EADDFF;
    border-radius: 50%;
    color: #4F378A;
}

.header-layout .expand-find-container {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.header-layout .expand-find-container .find-music {
    width: 100%;
    border-radius: 0;
}

.header-layout .user-logo-container .user-logo .account-menu-container {
    display: none;
}

.header-layout .user-logo-container .user-logo {
    position: relative;
}

.header-layout .user-logo-container .user-logo:hover .account-menu-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400%;
    position: absolute;
    top: 120%;
    right: 10px;
    padding: 16px 12px;
    border-radius: 10px;
    background-color: var(--Dark-shade);
    /* border: 1px solid var(?--purple-color); */
    /* box-shadow: 0 0 10px var(--pink-color); */
    color: white;
    z-index: 10;
}

.header-layout .user-logo-container .user-logo:hover::after {
    content: "";
    width: 400%;
    top: 100%;
    right: 0;
    height: 100px;
    background-color: transparent;
    position: absolute;
}

.header-layout .user-logo-container .user-logo:hover::after,
.header-layout .user-logo-container .user-logo:hover~.account-menu-container {
    display: flex;
}

.header-layout .user-logo-container .user-logo .account-menu-container p {
    cursor: pointer;
}

.header-layout .user-logo-container .user-logo .account-menu-container .line {
    content: "";
    width: 100%;
    border: 1px solid white;
}

.header-layout .profile-modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}




@media (max-width:576px) {
    .header-layout .find-music {
        display: none;
    }

    .header-layout .user-logo-container .user-logo-layout svg {
        font-size: 25px;
    }

    .header-layout .user-logo-container .user-logo svg {
        font-size: 32px;
    }

    .header-layout .user-logo-container .user-logo-layout svg:hover {
        color: #E5CFFF;
    }

    .header-layout .expand-find-container .find-music {
        display: flex;
        position: relative;
        z-index: 2;
    }

    .header-layout .expand-find {
        display: block;
    }

    .header-layout .user-logo-container .user-logo-layout .search-expand {
        display: block;
    }
}