.info-aside-grid.open{
    display: block;
}

/* close info aside */

.info-aside .close-info{
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.info-aside .close-info p{
    margin-left: 10px;
}
/* music cover */

.info-aside img{
    width: 100%;
    aspect-ratio: 1/1;
}

/* song name  */

h3,h4,h5{
    color: white;
}

.follower{
    padding: 6px 24px;
    border: 2px solid rgba(211, 149, 255, 1);
    border-radius: 10px;
    color: white;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.follower:hover{
    background-color: rgba(211, 149, 255, 1);
    color: rgba(26, 21, 32, 1);
}

.info-aside .nameInfo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(134, 135, 144, 1);
    margin-top: 10px;
}
.info-aside .nameInfo-container svg{
    cursor: pointer;
    font-size: 30px;
}
.info-aside .nameInfo-container svg:hover{
    opacity: 0.6;
}
.info-aside .nameInfo-container .left-name h3{
    color: white;
}

/* song story  */

.info-aside .songstory-container{
    background-color: rgba(26, 21, 32, 1);
    padding: 20px;
    margin:20px 0;
}

.info-aside .songstory-container h4{
    margin-bottom: 10px;
    color: white;
}

.info-aside .songstory-container p{
    color:rgba(134, 135, 144, 1);
    font-size: 12.5px;
    word-spacing: 1px;
}

/* about artist */

.info-aside .about-artist-container{
    padding: 20px;
    background-color: rgba(26, 21, 32, 1);
    border-radius: 10px;
}
.info-aside .about-artist-container .profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.about-artist-container .profile-header .left-profile{
    display: flex;
    align-items: center;
    width: 65%;
}
.about-artist-container .profile-header .left-profile img{
    width: 90px;
    border-radius: 50%;
    margin-right: 10px;
}
.about-artist-container .profile-header .left-profile .name-artist p{
    color: rgba(134, 135, 144, 1);
    font-size: 13px;
    word-break: break-all;
    margin-top: 5px;
    
}
.about-artist-container .profile-header .left-profile .name-artist h5{
    word-break: break-all;
}
.about-artist-container .profile-header .right-profile{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.about-artist-container .profile-header .right-profile p{
    color: rgba(134, 135, 144, 1);
    font-size: 12px;
    margin-top: 5px;
}

.info-aside .about-artist-container .introduce{
    margin-top: 30px;
}
.info-aside .about-artist-container .introduce p{
    font-size: 13px;
    color: rgba(134, 135, 144, 1);
    margin-top: 10px;
    word-spacing: 1px;
}

/* credit */

.info-aside .credit-container{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(26, 21, 32, 1);
}

.info-aside .credit-container .artist-item{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-aside .credit-container .artist-item p{
    color: rgba(134, 135, 144, 1);
    font-size: 11px;
    margin-top: 3px;
}

.info-aside .lyrics-container{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(26, 21, 32, 1);
}

.info-aside .lyrics-container .lyrics-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.info-aside .lyrics-container .lyrics-list p{
    color: white;
    opacity: 0.5;
    font-size: 13px;
}

.info-aside .lyrics-container .lyrics-list h4{
    opacity: 0.8;
}

/* next music */

.info-aside .next-container{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(26, 21, 32, 1);
}

.info-aside .next-container .next-music{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.info-aside .next-container .next-music:hover{
    opacity: 0.8;
}

.info-aside .next-container .next-music .left-music{
    display: flex;
    align-items: center;
}
.info-aside .next-container .next-music .left-music img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} 

.info-aside .next-container .next-music .left-music p{
    color: rgba(134, 135, 144, 1);
    font-size: 12px;
}

.info-aside .next-container .next-music svg{
    color: rgba(134, 135, 144, 1);
    font-size: 30px;
}